.container-news
{
    align-items: flex-start;
    margin-top: 34px;
    display: flex;
    justify-content: center;
    
    
}

.row
{
    width: 860px;
    
}

.col1
{
 width: 860px;
 height:12 px;
}

.text-path
{
font-style: normal;
font-weight: 250;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

letter-spacing: 0.05em;

color: #000000;
}


.col2
{
    width: 860px;
    
    display: flex;
    margin-top: 51px;
    flex-direction: row;
    justify-content: space-between;
    
}



  

.edit-add-news
{
    display: flex; 
    justify-content: flex-end;
    margin-top: 15px;
}


.text-news
{
    padding: 0px 0px;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #000000;
   
}

.edit
{
    width: 18px;
    height: 18px;

}

.add-news
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
}

.col3
{
    margin-top: 29px;
    background: #FFFFFF;
    border-radius: 16px;
    width: 860px;
    height: 574px;
    display: flex; 
}

.search-input 
{
   
    height: 45px;
    width: 480px;
    border:0;
    
    border-bottom: 1px solid black;
    background: url(../img/Search.svg) no-repeat;
    background-position: center left;
    padding-left: 30px;
    margin-left: 60px;
    
}

.search-input:focus 
{
    outline: none;
    border-style: hidden;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
}
.search
{
    display: flex; 
}

.button-search
{
    cursor: pointer;
   
    width: 80px;
    height: 28px;
   
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px; 
    margin-top: 22px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    background: #FFFFFF;
    letter-spacing: 0.05em;

    color: #000000;

    
}

.button-search:hover {
    transition: background 0.3 ease 0s;
    border: 0px;
    background: #D9D9D9;
    color: black;
}


.button-filter
{
    cursor: pointer;
   
    width: 142px;
    height: 30px;
   
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px; 
    margin-top: 22px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.05em;
    background: #FFFFFF;
    color: #000000;

    
}

.button-filter:hover {
    transition: background 0.3 ease 0s;
    border: 0px;
    background: #D9D9D9;
    color: black;
}

.filter
{
    background: none;
    margin-right: 8px;
    
}

